#map {
  height: 50vh;
  width: 100%;
  border-radius: 10px;
  margin: 10px;
}
ion-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
}
ion-list{
  background-color: white;
}
ion-content {
  --background: #f0f0f5;
}

ion-card {
  margin: 10px;
  border-radius: 10px;
  background: #ffffff;
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

ion-item {
  --background: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}

ion-item ion-label {
  color: #000000;
  border-color: #000000;
}


ion-label h2 {
  color: #000000;
}

ion-label p {
  color: #666666;
}

ion-button {
  --border-radius: 10px;
}

ion-fab-button {
  --background: #3880ff;
  z-index: 10; /* Asegúrate de que el botón esté encima del panel */
}